<div class="containerX" [ngClass]="theme"> <!-- theming with dark-theme and light-theme -->
  <div class="colorNested box" fxLayout="column">
    <header *ngIf="layoutState.show.header" class="header">
      <is-talk-header [logoDesc]="'talk'" (logoClick)="logoClick()"></is-talk-header>
      <!-- <is-talk-header [logoSrc]="'assets/ttt.png'"></is-talk-header> -->
    </header>
    <div id="main" fxLayout="row" fxLayout.xs="column" fxFlex>
      <nav *ngIf="layoutState.show.nav" fxFlex="1 6 15%" fxFlex.xs="1 6 10%" fxFlexOrder fxFlexOrder.xs="1" class="nav">
        <is-talk-nav [options]="options" (click)="navClick($event)"></is-talk-nav>
      </nav>
      <content *ngIf="layoutState.show.content" fxFlex="3 1 70%" fxFlexOrder fxFlexOrder.xs="2" class="content">
        <router-outlet></router-outlet>
      </content>
      <aside *ngIf="layoutState.show.aside" fxFlex="1 6 20%" fxFlexOrder fxFlexOrder.xs="3" class="aside">
        aside
        {{ _cs.currentLanguage | async }}
        <button type="button" (click)="goBack()">Back</button>
        <button type="button" (click)="goForward()">Forward</button>
      </aside>
    </div>
    <footer *ngIf="layoutState.show.footer" class="footer">
      {{ 'HOME.FOOTER.WELCOME' | translate }}
      <div style="float:right;">
        <is-talk-language></is-talk-language>
      </div>
    </footer>
  </div>
</div>